@import url('https://fonts.google.com/specimen/Raleway?query=raleway');
$color: orange; 
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    font-family: raleway;
    display: flex;
    flex-direction: column;
}

.container{
    width: 100%;
    max-width: 1500px;
    margin: 20px auto; 
    padding: 30px;
}

.header-content h1{
    font-size:2em;
    font-weight: 500;
    margin-bottom: 30px;
}

input[type="checkbox"]{
    outline:2px solid $color;
    margin-right: 15px;
    border: none;
}

.button{
    float: right;
    padding: 12px;
    font-size: 16px;
    background-color: $color;
    width: 30%;
    border: none;
    border-radius: 5px;
    margin:30px 0;
    text-transform: uppercase;
    cursor: pointer;
}

// Header
header{
    width: 100%;
    top: 0;

    .header-group{
        display: flex;   
        margin: 50px 0 ;

        .header-language{
            width: 20%;
            margin-right: 25px;
            display: inline-flex;
            padding: 5px;
            .label-language{
                padding: 10px;
            }
            .select-react-dropdown{
                width: 60%;
            }
            .icon-setting{
                padding: 10px;
                cursor: pointer;
            }
        }

        .header-logo{
            width: 80%;
            .header-image{
                display: flex;
                justify-content: center;
                align-items: right;
                margin-left: 300px;
            }
            .img-preview{
                width: 200px;
            }
        }

    }
}

.wrapper-account{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: $color;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-bottom: 50px;
    .content-account{
        font-size: 1em;
    }
}
// Utility
.stars-label{
    margin-bottom: 5px;
    margin-left: 5px;
    font-size: 10px;
    color: red;
}

// Content
.form-group{
    margin-bottom: 30px;
    .form-label{
        margin-bottom: 10px;
        font-weight: bold;
    }
    .span-checkbox{
        font-weight: 300;
        margin-right: 20px;
    }

    .input-group{
        border: 1px solid grey;
        padding:10px;
        border-radius: 5px;
        outline: none;
        width: 100%;
    }

    .wrapper-group{
        display: flex;
        width: 100%;
        gap: 30px;
        .groupleft{
            width: 50%;
            .groupleft-grouping{
                display: flex;
                width: 100%;
                gap:30px;
                .mobile-flag{
                    width: 30%;
                    .mobile-dropdown{
                        width: 100%;
                    }
                }  
                .mobile-number{
                    width: 80%;
                }
            }
        }
        .groupright{
            width: 50%;
            .groupright-grouping{
                display: flex;
                width: 100%;
                gap:30px;
            }
            .date-group{
                width: 40%;
            }
        }
    }
}

p {
    font-size: 1em;
    font-weight: 300;
    font-style: italic;
}

.item-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    margin-top:150px;
}

.additional-information{
    display: flex;
    width: 100%;
    margin: 30px 0;
    .content-license {
        margin-right: 10px;
    }
    .item-information-mail{
        margin-left: auto;
    }
    .item-information{
        display: inline-flex;
        margin-right: auto;
    }
}

.license{
    display: flex;
    width: 100%;
    display: inline-flex;
    margin: auto;
}

.card-wrapper{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    .card-success{
        background-color: aliceblue;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        padding:  20px 100px;
        margin-top: 100px;
    }
}

